/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* Root Variables */
:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #fcf0b6;
    --primary: lightseagreen;
    --secondary: #080808;
    --dark-1: #202225;
    --dark-2: #36393f;
    --dark-3: rgba(255, 255, 255, 0.08);
    --blue: #00c3f987;
    --red: #ed4245;
    --green: #57f279a5;
}

/* Body Styles */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

/* Sidebar Styles */
.sidebar {
    width: 250px;
    background-color: var(--second-bg-color);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100%;
    overflow: auto;
    animation: fadeIn 0.5s ease;
}

.sidebar h2 {
    color: var(--main-color);
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: var(--text-color);
    font-size: 1.1rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.sidebar ul li a:hover {
    color: var(--main-color);
}

/* Content Styles */
.content {
    margin-left: 250px; /* Same width as the sidebar */
    padding: 20px;
    flex: 1;
    overflow-y: auto;
}

.content h1, .content h2 {
    color: var(--main-color);
    margin-bottom: 20px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid var(--dark-3);
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: var(--dark-2);
}

tbody tr:nth-child(odd) {
    background-color: var(--dark-1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
