
.locations-container {
    padding: 50px;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

.locations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.location {
    display: flex;
    align-items: center;
    gap: 10px;
}

.location img {
    width: 30px;
    height: 30px;
}

.location p {
    margin: 0;
    font-size: 18px;
}

.location span {
    font-size: 14px;
}

p {
    font-size: 1.5rem;
    text-align: center;
    color: #f7f0f0;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}